.bases-chart-tooltip {
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  z-index: var(--layer-popover);
  background-color: var(--background-modifier-message);
  border: 0;
  border-radius: var(--size-2-3);
  padding: var(--size-2-3) var(--size-4-3);
  box-shadow: 0 var(--size-2-1) var(--size-4-2)
    var(--background-modifier-box-shadow);
  font-family: var(--font-interface);
}

.bases-chart-tooltip-title {
  font-size: var(--font-ui-small);
  color: #fafafa;
  font-weight: var(--font-medium);
}

.bases-chart-tooltip-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-4-4);
}

.bases-chart-tooltip-row-left {
  display: flex;
  align-items: center;
  gap: var(--size-2-3);
}

.bases-chart-tooltip-indicator {
  width: var(--size-4-3);
  height: var(--size-4-3);
  border-radius: 9999px;
}

.bases-chart-tooltip-name {
  font-size: var(--font-ui-small);
  color: #969696;
}

.bases-chart-tooltip-value {
  font-size: var(--font-ui-small);
  color: #fafafa;
  font-variant-numeric: tabular-nums;
}
