.bases-chart-tooltip {
  position: absolute;
  animation: none !important;
  transform: none !important;
  transition: none !important;
  font-family: var(--font-interface);
}

.bases-chart-tooltip-title {
  text-align: left;
}

.bases-chart-tooltip-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-4-4);
}

.bases-chart-tooltip-row-left {
  display: flex;
  align-items: center;
  gap: var(--size-2-3);
}

.bases-chart-tooltip-indicator {
  width: var(--size-4-3);
  height: var(--size-4-3);
  border-radius: 50%;
}

.bases-chart-tooltip-name {
  opacity: 0.5;
  font-weight: var(--font-normal);
}

.bases-chart-tooltip-value {
  font-weight: var(--font-normal);
  font-variant-numeric: tabular-nums;
}
